body {
   
    font: italic;
    background-color: rgb(2, 65, 116);
   
  }
  table {
    -moz-box-align: center;
    border: 3px solid  rgb(45, 115, 207);
    background-color:  rgb(191, 213, 241);
    width: 500px;
    height: 500px;
    align-items: center;
  }
  td {
    background-color: lemonchiffon;
    
  }
  th {
    background-color: black;
    color: white;
  }
  table {
       text-align: center;
  }
  h1 {
  color: rgb(45, 115, 207);
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  }
   
  input{
    background-color:  rgb(212, 226, 245);
    padding: 5px 25px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
  }

  input[type=button] {
    background-color:  rgb(86, 133, 195);
    padding: 7px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  button {
    background-color:  rgb(86, 133, 195);
    padding: 7px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }